.Figuras{
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    font-family: 'LubalinBook';
    font-size: 150%;   
}

body{
    margin: 0%;
}

.Figuras h2{
    font-family: 'LubalinDemi';
    padding: 5% 0% 0% 0%;
    margin: 0%;
}

.fig{
    width: 60%;
}

p{
    padding: 5% 0% 1% 0%;
    margin: 0% 15%;  
}

.store-list{
    list-style: none;
    margin: 0%;
    padding: 3% 0% 7% 0%;
    font-family: 'LubalinDemi';
}

.btn-primary{
    width: 20%;
    background-color: #000;
    border: #000;
}

.btn-primary:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: #000;
    border: #000;
}