.Claves{
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    font-family: 'LubalinBook';
    font-size: 150%;
}

.Claves h2{
    font-family: 'LubalinDemi';
    padding: 5% 0% 0% 0%;
}

.p1{
    padding: 5% 0%;
    margin: 0% 15%;     
}

.clave-Sol{
    width: 65%;    
}

.G{
    font-size: 90%;
    margin: 0%;
}

.clave-Fa{
    width: 65%;
}

.F{
    font-size: 90%;
    margin: 0%;
}

.p4{
    padding: 5% 0% 0% 0%;
    margin: 0% 15%;
}