.Notación{
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    font-family: 'LubalinBook';
    font-size: 150%;
}

.p1{
    padding: 5%;
    margin: 0% 15% 0% 15%;  
}

.pentagrama{
    padding: 0% 0% 5% 0%;
    width: 45%;
}

.p2{
    padding: 0% 0% 2% 0%;
    margin: 0% 15% 0% 15%;  
}

.adicionales{
    padding: 4% 0% 7% 0%;
    width: 55%; 
}